[submodule "Minecraft-Clone/vendor/GLFW"]
	path = Minecraft-Clone/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Minecraft-Clone/vendor/ASSIMP"]
	path = Minecraft-Clone/vendor/ASSIMP
	url = https://github.com/assimp/assimp
[submodule "Minecraft-Clone/vendor/GLM"]
	path = Minecraft-Clone/vendor/GLM
	url = https://github.com/g-truc/glm
[submodule "Minecraft-Clone/vendor/GLAD"]
	path = Minecraft-Clone/vendor/GLAD
	url = https://github.com/Dav1dde/glad
[submodule "Minecraft-Clone/vendor/STB_IMAGE"]
	path = Minecraft-Clone/vendor/STB_IMAGE
	url = https://github.com/nothings/stb
